<% if @user.handle.downcase != "cheeryconverter"%>
  <h1>Tweets By: <%= @user.handle %></h1>

  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.full_text %></li>
    <% end %>
  </ul>

<%else%>
  <h2>Temperature conversion ft. <%= @user.handle %></h2>
  <ul>
    <% @mentions.each do |mentioned_tweet| %>
      <% if temperature_question(mentioned_tweet.full_text) %>
        <li><%= mentioned_tweet.full_text %>
        <% new_tweet = "@#{mentioned_tweet.user.screen_name} " + make_tweet(mentioned_tweet.full_text) + "ðŸ¾ðŸ¸ðŸ·ðŸŽ‰"%>
        <li><%= new_tweet %></li><br>

        <% @user.client.update(new_tweet, in_reply_to_status_id: mentioned_tweet.id) %>
      <%end%>
    <%end%>
  </ul>
    <%= erb :'post_tweet' %>
<%end%>

